footer.site-footer
  .footer-container
    .footer-content
      p &copy; #{new Date().getFullYear()} Personal Blog Platform. All rights reserved.
      .footer-links
        a(href="/") Home
        span.separator |
        a(href="/contact") Contact
        span.separator |
        a(href="/search") Search
