doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title || 'Personal Blog Platform'
    link(rel="manifest" href="/manifest.json")
    link(rel="stylesheet" href="/css/style.css")
  body
    include ../partials/header
    
    main.container
      if messages && messages.error
        .alert.alert-error= messages.error
      if messages && messages.success
        .alert.alert-success= messages.success
      
      block content
    
    include ../partials/footer
    
    script(src="/js/main.js")
    script(src="/js/pwa-manager.js")
