extends layouts/main

block content
  
  .auth-page
    .auth-container
      h1 Create Account
      
      if error
        .alert.alert-error= error
      
      form.auth-form(action="/register" method="POST")
        .form-group
          label(for="username") Display Name 
            span.required *
          input#username(type="text" name="username" placeholder="username" value=username || '' required minlength="3" maxlength="20")
        
        .form-group
          label(for="email") Email Address 
            span.required *
          input#email(type="email" name="email" placeholder="email address" value=email || '' required)
        
        .form-group
          label(for="password") Password 
            span.required *
          input#password(type="password" name="password" placeholder="password" required minlength="8")
        
        .form-group
          label(for="confirmPassword") Confirm Password 
            span.required *
          input#confirmPassword(type="password" name="confirmPassword" placeholder="confirm password" required minlength="8")
        
        button.btn.btn-primary(type="submit") Create Account
      
      .auth-links
        p 
          a(href="/login") Sign in here
